asgiref==3.5.1
Babel==2.14.0
bchlib==1.0.0
beautifulsoup4==4.11.1
bleach==5.0.1
dj-database-url==2.2.0
Django==4.0.4
django-bootstrap4==22.1
django-crispy-forms==1.14.0
django-phone-field==1.8.1
django-phonenumber-field==7.3.0
django-summernote==0.8.20.0
django-taggit==3.0.0
django-tempus-dominus==5.1.2.17
gunicorn==22.0.0
phonenumbers==8.13.33
pillow==10.3.0
python-dotenv==1.0.1
six==1.16.0
soupsieve==2.3.2.post1
sqlparse==0.4.2
tzdata==2022.1
webencodings==0.5.1
