<!-- Dans liste_patients.html -->




{% extends 'base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block body %}


<head>







    <!-- CSS Files -->
    <link id="pagestyle" href="{% static 'site_static/assets/css/argon-dashboard.css' %}" rel="stylesheet" />


</head>



<!----background-->
<div class="min-height-300 bg-primary position-absolute w-100"></div>

<main class="main-content position-relative border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur"
        data-scroll="false">
        <div class="container-fluid py-1 px-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                    <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white"
                            href="{% url 'customadmin:dashboard' %}">Dashboard</a></li>
                    <li class="breadcrumb-item text-sm text-white active" aria-current="page"><a
                            class="opacity-5 text-white" href="{% url 'customadmin:add_patient' %}">Ajoute
                            patients</a></li>
                </ol>
                <h6 class="font-weight-bolder text-white mb-0">liste patients</h6>
            </nav>
            <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                    <div class="input-group">
                        <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" id="cin" name="cin" placeholder="Search by CIN">

                    </div>
                </div>

            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="container-fluid py-4" id="patient-list">
        <div class="row">
            <div class="col-md-7 mt-4">
                <div class="card">
                    <div class="card-header pb-0 px-3">
                        <h6 class="mb-0">Les Patients</h6>
                    </div>
                    <div class="card-body pt-4 p-3">
                        <ul class="list-group">
                            {% for patient in patients %}
                            <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                                <div class="d-flex flex-column">
                                    <h6 class="mb-3 text-sm">{{patient.nom}} {{patient.prenom}}</h6>
                                    <span class="mb-2 text-xs">Sexe: <span
                                            class="text-dark font-weight-bold ms-sm-2">{{patient.sexe}}</span></span>
                                    <span class="mb-2 text-xs">Age: <span
                                            class="text-dark ms-sm-2 font-weight-bold">{{patient.age}}</span></span>
                                    <span class="text-xs">téléphone: <span
                                            class="text-dark ms-sm-2 font-weight-bold">{{patient.telephone}}</span></span>
                                    <span class="text-xs">Infos: <span
                                            class="text-dark ms-sm-2 font-weight-bold">{{patient.infos}}</span></span>
                                </div>
                                <div class="ms-auto text-end">
                                    <a class="btn btn-link text-danger text-gradient px-3 mb-0"
                                        href="{% url 'customadmin:delete_patient' patient.id %}"><i
                                            class="far fa-trash-alt me-2"></i>supprimer</a>
                                    <a class="btn btn-link text-dark px-3 mb-0"
                                        href="{% url 'customadmin:edit_patient' patient.id %}"><i
                                            class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>modifier</a>
                                </div>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>


                </div>
            </div>
            <div class="col-md-5 mt-4">
                <div class="card h-100 mb-4">
                    <div class="card-header pb-0 px-3">
                        <div class="row">
                            <div class="col-md-6">
                                <h6 class="mb-0">Votre Transactions</h6>
                            </div>
                            <div class="col-md-6 d-flex justify-content-end align-items-center">
                                <i class="far fa-calendar-alt me-2"></i>
                                <small>23 - 30 March 2024</small>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-4 p-3">
                        <h6 class="text-uppercase text-body text-xs font-weight-bolder mb-3">Nouveaux</h6>
                        <ul class="list-group">
                            {% for transaction in transactions%}
                            <li
                                class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                                {% if transaction.action == 'Modification' %}
                                <div class="d-flex align-items-center">

                                    <button
                                        class="btn btn-icon-only btn-rounded btn-outline-success mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"><i
                                            class="fas fa-arrow-down"></i></button>
                                    <div class="d-flex flex-column">
                                        <h6 class="mb-1 text-dark text-sm">{{ transaction.patient }}</h6>
                                        <span class="text-xs">{{ transaction.timestamp}}</span>
                                    </div>
                                </div>

                                <div
                                    class="d-flex align-items-center text-success text-gradient text-sm font-weight-bold">
                                    - {{ transaction.action }}
                                </div>
                                {% else %}
                                <div class="d-flex align-items-center">

                                    <button
                                        class="btn btn-icon-only btn-rounded btn-outline-danger mb-0 me-3 btn-sm d-flex align-items-center justify-content-center"><i
                                            class="fas fa-arrow-down"></i></button>
                                    <div class="d-flex flex-column">
                                        <h6 class="mb-1 text-dark text-sm">{{ transaction.patient }}</h6>
                                        <span class="text-xs">{{ transaction.timestamp}}</span>
                                    </div>
                                </div>

                                <div
                                    class="d-flex align-items-center text-danger text-gradient text-sm font-weight-bold">
                                    - {{ transaction.action }}
                                </div>
                                {% endif %}

                            </li>
                            {% endfor %}
                        </ul>

                    </div>
                </div>
            </div>
        </div>



    </div>
</main>




<!-- Bottom of the liste_patients.html template, before the closing </body> tag -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const form = document.getElementById('search-form');
        form.addEventListener('submit', function (event) {
            event.preventDefault(); // Prevent form submission

            // Get input values for CIN and name
            const cin = document.getElementById('cin').value.trim();
            const nom = document.getElementById('nom').value.trim();

            // Construct URL with query parameters
            const url = `/login/liste_patients/?cin=${encodeURIComponent(cin)}&nom=${encodeURIComponent(nom)}`;

            // Fetch data from the server using the constructed URL
            fetch(url)
                .then(response => response.text())
                .then(data => {
                    // Replace the content of the patient-list div with the received data
                    document.getElementById('patient-list').innerHTML = data;
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    });
</script>













{% endblock %}